<div class="row writings-show">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <div class="media">
            <div class="media-left">
              <%= link_to image_tag( "stevie.jpg", size: "38x38", alt: "avatar", class: "img-circle" ), root_path %>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to "Shin Zhang", "#" %></h4>
              2 days ago 
            </div>
            <div class="media-right">
              <button class="btn btn-primary" type="submit">Follow</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
      	<h1><%= @writing.title %></h1>
      	<div class="writings-content">
      		<p><%= @writing.content %></p>
          <p><%= image_tag @writing.photo %></p>
          <p>Tags: <%= raw @writing.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
      	</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline social">
          <li><i class="fa fa-eye"></i><%= @writing.view_count %></li>
          <li><i class="fa fa-comment"></i><%= comments_count(@writing) %></li>
          <li><%= render 'like_form' %></li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h4>Responses</h4>
        </div>
        
        <%= render @writing.comments %>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><i class="fa fa-comment-o"></i>Write a respense...</p>
        <%= render "comments/form" %>
      </div>
    </div>



    <% if current_user?(@writing.user) %>
      <%= link_to "delete", @writing, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>

  </div>
</div>



