<% provide(:title, @user.username) %>

<div class="row">
  <aside class="col-md-12">
    <section class="user_info">
        <% unless @user.user_info.nil? %>
          <%= image_tag(@user.user_info.avatar.thumb.url, class: "img-circle") %>
				<% else %>
        	<%= image_tag("square-image.png", class: "img-circle") %>
        <% end %>
        <br>
				<h1><%= @user.username %></h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <%= render 'follow_form' if user_signed_in? %>
</div>

<%= link_to "New writing", new_writing_path %>

<hr />
<div class="row">
	<% if @user.writings.any? %>
		<ul>
			<%= render @writings %>
		</ul>
		<%= will_paginate @writings %>
	<% end %>
</div>