<header class="navbar navbar-default navbar-fixed-top ">
  <div class="container">
    <%= link_to "WritingsHub", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav">
        <li><a href="#">Popular</a></li>
        <li><a href="#about">Recent</a></li>
        <li><a href="#contact">Subscription</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h fa-lg"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Tags</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">About</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-right form-inline">
        <div class="form-group">
          <input type="Search" class="form-control" placeholder="Search">
        </div>
      </form>

      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <% if user_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
              <% unless current_user.user_info.nil? %>
                <%= image_tag(current_user.user_info.avatar.thumb.url, class: "img-circle", size: "20") %>
              <% else %>
                <%= image_tag("square-image.png", class: "img-circle", size: "20") %>
              <% end %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <% unless current_user.user_info.nil? %>
                  <%= link_to 'Edit profile', edit_user_info_path(User.find(current_user.id).user_info.id) %>
                <% else %>
                  <%= link_to 'Edit profile', new_user_info_path %>
                <% end %>
              </li>
              <li><%= link_to "Show", user_path(current_user) %></li>
              <li><%= link_to 'Edit password', edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            </ul>
          <% end %>
        </li>
      </ul>

    </nav>
  </div>
</header>





